{% extends 'base.html.twig' %}

{% block title %}Hello FormController!{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/form.css">
{% endblock %}

{% block body %}
<div class="row">
    <div class="title_logo" id="logo">
        <h1>Quelques petites précisions...
    </div>
    <div class="col-md-4 col-md-offset-6">
        <section id="form_add">
            <form name="addPartForm" action="" method="post" enctype="multipart/form-data">
                <div class="select" id="select">
                    <div>
                        <label for="category"></label>
                        <select name="category" id="category_select">
                            <option value="TYPE DE PRESTATION">TYPE DE PRESTATION</option>
                            <option value=""></option>
                        </select>    
                    </div>
                    <div>
                        <label for="wear"></label>
                        <select name="wear" id="wear_select">
                            <option value="TYPE DE CHEVEUX">TYPE DE CHEVEUX</option>
                            <option value=""></option>
                        </select>
                    </div>
                    <div>
                        <label for="brand"></label>
                        <select name="brand" id="brand_select">
                            <option value="ALLERGIES">ALLERGIES</option>
                            <option value=""></option>
                        </select>
                    </div>
                <div>
                    <label for="start"></label>
                    <input type="date" id="start" name="trip-start" value="" min="2024-01-01" max="2050-12-31" />
                </div>
                </div>
                    <input type="submit" id="cta_form_add_give" value="CONTINUER"/>
                </div>
            </form>
        </section>
    </div>
{% endblock %}
