{% extends 'base.html.twig' %}

{% block title %}HEAVEN HAIR’S{% endblock %}

{% block body %}
    <div class="home_title">
        <h1>
            <div  id="logo"> &#9986;</div> 
            <div id="title_name"> Heaven Hair's </div>
        </h1>
    </div>


    <div class="intro">
        <div id="welcome">
            <p>
                Bienvenue dans les salons partenaires de L’Oréal.
            </p>
        </div>
        <div id="consigne">
            <p>
                Remplissez le formulaire et prenez un rdv personnalisé selon vos besoins.
            </p>
        </div>
    </div>

{% endblock %}
