{% extends 'base.html.twig' %}

{% block body %}
    <div id="map" style="height: 400px;"></div>
    <script>
        let map = L.map('map').setView([48.8690712, 2.406441], 15); // Coordonnées de Paris par exemple

        const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', 
        {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
	    }).addTo(map);

        const circle = L.circle([48.8690712,  2.406441], {
		color: 'red',
		fillColor: '#f03',
		fillOpacity: 0.5,
		radius: 25
	}).addTo(map).bindPopup('Vous êtes ici');

        let coiffeurs = [
            {latitude: 48.86981572849813, longitude: 2.4024352932537676, nom: "JACQUES DUMONT",},
            {latitude: 48.87159923775499, longitude:  2.402845171164153, nom:"CHRISTIAN GILLES",},
            {latitude: 48.86866538757079, longitude: 2.4015382576716946, nom: "BEATRIX COIFFURE",},
            {latitude: 48.86828724709763, longitude: 2.3999988288358476, nom: "CAP V HAIR COIFFURE",},
            {latitude: 48.86785463545963, longitude: 2.3988279, nom: "ATELIER MAJORELLE",},
            {latitude: 48.86544895510365, longitude: 2.4153621, nom: "PASCAL COSTE COIFFURE",}
        ];

        for (coiffeur of coiffeurs) {
            console.log(coiffeur);
            L.marker([coiffeur.latitude, coiffeur.longitude]).addTo(map)
                .bindPopup(`${coiffeur.nom}`);
        }
    </script>
    <div class="cadre"> 
        <h1 class="coiffeurs">Les coiffeurs dans votre coin</h1>
            <h2>JACQUES DUMONT</h2>
                <p><div class="adresse">Adresse</div>
                    145 AV GAMBETTA
                    75020 Paris
                    <div class="adresse">Horaires</div>
                    lundi Fermé
                    mardi 09:00–18:00
                    mercredi 09:00–18:00
                    jeudi 09:00–18:00
                    vendredi 09:00–18:00
                    samedi 09:00–18:00
                    dimanche Fermé
                    </p>
            <h2>JACQUES DUMONT</h2>
                <p><div class="adresse">Adresse</div>
                    145 AV GAMBETTA
                    75020 Paris
                        <div class="adresse">Horaires</div>
                    lundi Fermé
                    mardi 09:00–18:00
                    mercredi 09:00–18:00
                    jeudi 09:00–18:00
                    vendredi 09:00–18:00
                    samedi 09:00–18:00
                    dimanche Fermé
                </p>
            <h2>JACQUES DUMONT</h2>
                <p><div class="adresse">Adresse</div>
                    145 AV GAMBETTA
                    75020 Paris
                        <div class="adresse">Horaires</div>
                    lundi Fermé
                    mardi 09:00–18:00
                    mercredi 09:00–18:00
                    jeudi 09:00–18:00
                    vendredi 09:00–18:00
                    samedi 09:00–18:00
                    dimanche Fermé
            </p>
            <h2>JACQUES DUMONT</h2>
                <p><div class="adresse">Adresse</div>
                    145 AV GAMBETTA
                    75020 Paris
                        <div class="adresse">Horaires</div>
                    lundi Fermé
                    mardi 09:00–18:00
                    mercredi 09:00–18:00
                    jeudi 09:00–18:00
                    vendredi 09:00–18:00
                    samedi 09:00–18:00
                    dimanche Fermé
                </p>
            <h2>JACQUES DUMONT</h2>
                <p><div class="adresse">Adresse</div>
                    145 AV GAMBETTA
                    75020 Paris
                        <div class="adresse">Horaires</div>
                    lundi Fermé
                    mardi 09:00–18:00
                    mercredi 09:00–18:00
                    jeudi 09:00–18:00
                    vendredi 09:00–18:00
                    samedi 09:00–18:00
                    dimanche Fermé
                </p>
    </div>
{% endblock %}

