{% extends 'base.html.twig' %}

{% block title %}Validation RDV{% endblock %}

{% block body %}
        <div class="validate">
            <div class="flex">
                <p>
                    Félicitation! Votre demande de RDV a bien été prise en compte, vous recevrez bientôt une confirmation par mail.
                </p>
            </div>
            <div class="promo-container">
                <p id="promo-code">Votre code promo unique : <span id="promo"></span></p>
                <button id="promo-button" onclick="generateUniquePromoCode()">Générer un nouveau code</button>
            </div>
        </div>

<script>
        function generateUniquePromoCode() {
        const promoElement = document.getElementById('promo');
        const uniquePromoCode = generateUniqueCode(); 
        promoElement.textContent = uniquePromoCode;
        }

        function generateUniqueCode() {
        const currentDate = new Date();
        const uniqueCode = currentDate.getTime().toString(36).toUpperCase();
        return uniqueCode.substr(-8); // Utilisez les 8 derniers caractères pour obtenir une longueur fixe
        }
</script>
{% endblock %}
