{% extends 'base.html.twig' %}

{% block title %}Validation RDV{% endblock %}

{% block body %}
        <div class="validate">
            <div class="flex">
                <p>
                    Félicitation! Votre rdv est pris, vous recevrez bientôt une confirmation par mail.
                </p>
            </div>
        </div>
{% endblock %}
