{% extends 'base.html.twig' %}

{% block title %}HEAVEN HAIR’S{% endblock %}

{% block body %}
        <div class="validate">
            <div class="flex">
                <p>
                    Félicitation! Votre rdv est prit, vous recevrez bientôt une confirmation par mail.
                </p>
            </div>
        </div>
{% endblock %}
