{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
<div class="product">
    <div>
        <div>
            <h1>
                ...Essayez notre sélection de produits personnalisée selon vos critères...
            </h1>
        </div>
            
    <div class="cadre">   
        <h2>Suggestion de Shampoing</h2>
        <p>A l'issue de votre rendez vous, vous obtiendrez un CODE PROMO sur l'article de votre choix dans toute la gamme L'Oreal !</p>

        <div class="img-grid">
            <div class="img-flex">
                <img src="{{ asset('build/images/product1.png') }}" alt="product Sensi Balance" id="zoom">
                <h3>Sensi Balance</h3>
                <p>Ce shampoing est idéal pour les cheveux sensibles</p>
                <div class="button-flex">
                    <button class="button">Ajouter au panier</button>
                </div>
            </div>
            <div class="img-flex">
                <img src="{{ asset('build/images/product2.png') }}" alt="product Absolut Repair" id="zoom">
                <h3>Absolut Repair</h3>
                <p>Pour réparer votre chevelure et la rendre plus résistante</p>
                <div class="button-flex">
                    <button class="button">Ajouter au panier</button>
                </div>
            </div>
            <div class="img-flex">
                <img src="{{ asset('build/images/product3.png') }}" alt="product Instant Clear" id="zoom">
                <h3>Instant Clear</h3>
                <p>Agit rapidement pour éliminer les impuretés et laisse vos cheveux propres et frais.</p>
                <div class="button-flex">
                    <button class="button">Ajouter au panier</button>
                </div>
            </div>
            <div class="img-flex">
                <img src="{{ asset('build/images/product4.png') }}" alt="product Sensi Balance" id="zoom">
                <h3>Pro-Keratin</h3>
                <p>Particulièrement recommandé pour les cheveux abîmés, secs ou cassants.</p>
                <div class="button-flex">
                    <button class="button">Ajouter au panier</button>
                </div>
            </div>
        </div>
    </div>

    <div class="button-flex">
        <button class="button-continuer"><a href="form2">CONTINUER</a></button>
    </div>
</div>
</div>


{% endblock %}
