{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
<div>
    <img src="{{ asset('build/images/icons/scissors.png') }}" alt="scissors icon">
</div>
<div>
    <img src="{{ asset('build/images/icons/user.png') }}" alt="scissors icon">
</div>
    <h1 class="h1-product">
        ...Essayez notre sélection de produits personnalisée selon vos critères...
    </h1>


{% endblock %}
