@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@font-face {
    font-family: "Maven Pro";
    src:url(/assets/font/maven-pro.ttf)
}
* {
    box-sizing: border-box;
    font-family: "Maven Pro";
}

body {
    // margin:0;
    background-image: url('/assets/images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: auto;
    max-height: auto;
    max-width: auto;
}

.h1-product {
    color: #DAA520;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
}