@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@font-face {
    font-family: "Maven Pro";
    src:url(/assets/font/maven-pro.ttf)
}
* {
    box-sizing: border-box;
    font-family: "Maven Pro";
}

body {
    // margin:0;
    background-image: url('/assets/images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: auto;
    max-height: auto;
    max-width: auto;
}

.product {
    .flex-icon {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .h1-product {
        color: #DAA520;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        text-align: center;
        margin-top: 3.62rem;
    }

    .cadre {
        border-radius: 0.375rem;
        border: solid 1px #A57800;
        background: #131313;
    }
}
